body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* .App {
  text-align: center;
} */

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 80px;
}

.App-header {
  background: linear-gradient(to bottom right, blue, green);
  height: 6%;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-intro {
  font-size: large;
}

.text-right {
  margin-top: 10px;
  margin-right: 10px;
}

.submit {
  margin-right: 1%;
}

.text-help {
  color: red;
}

.has-danger {
  border-color: red;
}

h3 {
  margin-left: 25px;
}

.post-list {
  margin: 10px;
}

.blog-name {
  font-weight: 550; 
  font-size: 36px;
  margin-left: -10px;
  font-family: 'Marck Script', cursive;
}
