body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* .App {
  text-align: center;
} */

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 85px;
  margin-left: 20px;
  margin-top: 7.5px;
  /* transform: rotate(5deg); */
}

.App-header {
  background: linear-gradient(to bottom right, #f96302, orangered);
  display: flex;
  justify-content: center;
  height: 6%;
  padding: 25px;
  color: white;
  text-align: center;
}

.App-intro {
  font-size: large;
}

.text-right {
  margin-top: 10px;
  margin-right: 10px;
}

.submit {
  margin-right: 1%;
}

.delete {
  margin-top: 10px;
  margin-right: 10px;
}

.home {
  margin-top: 10px;
  margin-left: 10px;
}

.text-help {
  color: red;
}

.has-danger {
  border-color: red;
}

h3 {
  margin-left: 25px;
}

.post-list {
  margin: 10px;
}

.blog-name {
  font-weight: 550; 
  font-size: 62px;
  margin-left: -10px;
  font-family: 'Marck Script', cursive;
}

.post-container {
  margin: 5%;
}

.tags {
  border: 1px solid cornflowerblue;

}

.post-body {
  font-family: 'Libre Baskerville', serif;
  margin-bottom: 4%;
  line-height: 300%;
}

.form-body {
  margin: 5%;
}

.post-title {
  font-family: 'Francois One', sans-serif;
  margin-top: 5%;
  margin-left: 5%;
  padding-bottom: 2%;
  width: 90%;
  margin-bottom: -2%;
  border-bottom: 1.3px solid black;
}

textarea.form-control.post-content {
  height: 200px;
}

.search-bar {
  width: 50%;
  margin-top: 10px;
  margin-left: 25%;
}

.index-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}